.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  max-width: 1800px;
  margin: 0 auto;
  flex-wrap: wrap;

  .form-container {
    margin-top: 100px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }

  .cliente-list {
    flex-grow: 1;
    width: 100%;
    max-width: calc(100% - 320px);
    margin-top: 20px;

    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      max-width: 500px;
      width: 100%;

      input {
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding-right: 10px;

      h2 {
        margin: 0;
      }
    }

    .p-table,
    .p-datatable {
      width: 100%;
      border-radius: 8px;
      overflow: auto;
      border: 1px solid #ddd;

      th {
        background-color: #007ad9;
        color: white;
        text-align: left;
        padding: 10px;
        white-space: nowrap;
      }

      td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        white-space: normal; /* Permite quebra de linha */
        overflow: visible;    /* Mostra tudo */
        text-overflow: unset;
        width: auto;
      }
    }

    .button-group {
      display: flex;
      gap: 5px;
      justify-content: center;
      flex-wrap: nowrap;

      .small-btn {
        width: 60px;
        height: 25px;
        font-size: 12px;
        padding: 3px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #007ad9;
        color: white;
        border: none;

        &.edit-btn {
          background-color: #007ad9;
        }

        &.delete-btn {
          background-color: #ff0600;
        }

        &.docx-btn {
          background-color: #007ad9;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
//Responsivo
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .cliente-list {
      max-width: 100%;
    }

    .button-group .small-btn {
      width: 30px;
      height: 30px;
      font-size: 14px;
    }
  }
}

.limpar-button {
  background: #ff0600;
  border: none;
}

.ui-button-raised {
  position: absolute;
  top: 20px;  /* Distância do topo */
  right: 20px;  /* Distância da borda direita */
  background: #ff0600;
  border: none;
}
