html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  // para evitar barra horizontal e garantir largura total
}

.container-horizontal {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}
